__pycache__
*.egg
*.egg-info
*.log
version.py

# pytest
tests/.tests
pytest_session.txt
.coverage
.hypothesis
.pytest_cache

# editors
.vscode

# ts_pre_commit_config
.pre-commit-config.yaml
.flake8
.isort.cfg
.mypy.ini
